@import "tailwindcss";

@tailwind utilities;

/* Optional: malo “smooth” osjećaja */
html,
body {
  height: 100%;
}

/* Falling hearts */
@keyframes floatDown {
  0% {
    transform: translate3d(0, -20vh, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.95;
  }
  100% {
    transform: translate3d(0, 120vh, 0) rotate(360deg);
    opacity: 0;
  }
}

/* Malo “njihanja” dok pada */
@keyframes sway {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.heart {
  position: absolute;
  top: -20vh;
  will-change: transform, opacity;
  user-select: none;
  pointer-events: none;
  animation-name: floatDown;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
